/* TYPOGRAPHY */
/* Base text */
$font-base-size: 16px;
$font-base-weight: 400;
$text-base-color: var(--ion-text-color-step-200);
$text-base-line-height: 1.5;
$text-base-font-family: "Montserrat Alternates", sans-serif;

/* Headings */
$font-heading-weight: 400;
$font-heading-transform: uppercase;
$font-heading-family:"Rubik Mono One", monospace;
$font-heading1-size: 30px;
$font-heading2-size: 20px;
$font-heading3-size: 18px;



/* Tab bar menu text */
$font-tab-bar-size: 12px;
$font-tab-bar-weight: $font-base-weight;
$text-tab-bar-line-height: $text-base-line-height;

/* COLORS */
$clr-primary: #496894; // var(--ion-color-primary);
$clr-secondary: #E38257; // var(--ion-color-secondary);
$clr-tertiary: #65897B; // var(--ion-color-tertiary);