@import "globals";

p, span, ion-label, li {
  font-size: $font-base-size;
  font-weight: $font-base-weight;
  color: $text-base-color;
  line-height: $text-base-line-height;
}

/* Tab bar styles */
ion-tab-button {
  ion-label {
    font-size: $font-tab-bar-size;
    font-weight: $font-tab-bar-weight;
    line-height: $text-tab-bar-line-height;
  }
}

/* Headings styles */
h1, h2, h3 {
  font-weight: $font-heading-weight;
  text-transform: $font-heading-transform;
}

/* Headings sizes */
h1 { font-size: $font-heading1-size; }
h2 { font-size: $font-heading2-size; }
h3 { font-size: $font-heading3-size; }

/* Action button styles in the IonItemOptions component */
ion-item-options {
  &.item-options-start {
    ion-item-option {
      border-bottom-right-radius: 20px;
      border-top-right-radius: 20px;
    }
  }
  &.item-options-end {
    ion-item-option {
      border-bottom-left-radius: 20px;
      border-top-left-radius: 20px;
    }
  }
}