@import "globals";

p, span, ion-label, li {
  font-size: $font-base-size;
  font-weight: $font-base-weight;
  color: $text-base-color;
  line-height: $text-base-line-height;
}

/* Tab bar styles */
ion-tab-button {
  border-radius: 30px;

  ion-label {
    font-size: $font-tab-bar-size;
    font-weight: $font-tab-bar-weight;
    line-height: $text-tab-bar-line-height;
  }

  &.tab-selected {
    background-color: var(--ion-color-primary);
    color: var(--ion-color-primary-contrast);

    &:hover {
      ion-label, ion-icon {
        color: var(--ion-color-primary-contrast);
      }
    }
  }

}

/* Headings styles */
h1, h2, h3 {
  font-weight: $font-heading-weight;
  text-transform: $font-heading-transform;
}

/* Headings sizes */
h1 { font-size: $font-heading1-size; }
h2 { font-size: $font-heading2-size; }
h3 { font-size: $font-heading3-size; }

/* Action button styles in the IonItemOptions component */
ion-item-options {
  &.item-options-start {
    ion-item-option {
      border-bottom-right-radius: 20px;
      border-top-right-radius: 20px;
    }
  }
  &.item-options-end {
    ion-item-option {
      border-bottom-left-radius: 20px;
      border-top-left-radius: 20px;
    }
  }
}

/* Container */
.container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  strong {
    font-size: 20px;
    line-height: 26px;
  }

  p {
    font-size: 16px;
    line-height: 22px;
    margin: 0;
  }

  a {
    text-decoration: none;
  }
}

/* Colors that belong to a certain sex */
ion-icon.female {
  color: purple;
}

ion-icon.male {
  color: $clr-primary;
}

ion-icon.intersex {
  color: $clr-tertiary;
}

/* Styles for creating a page structure */
.row {
  display: flex;
  justify-content: space-between;

  .block {
    border: 1px solid $clr-primary;
    padding: 5px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    .subblock {
      border-bottom: 1px solid $clr-primary;
    }
  }
}