@import "../../stylesheet/globals";

.panel--progress-week {
  .progress {
    display: flex;
    justify-content: space-evenly;

    p {
      margin: 0;
      font-size: 30px;

      &.left {
        color: var(--ion-color-secondary);
      }

      &.today {
        font-weight: 1000;
        -webkit-text-stroke: 2px var(--ion-color-secondary);
        color: transparentize($clr-primary, 0.9);
      }
    }
  }

  .dayer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    p {
      margin: 0;
    }
  }
}