@import "../stylesheet/globals";

.tab-header {
  background-color: transparentize($clr-primary, 0.9);

  display: flex;
  flex-direction: column;

  color: var(--ion-color-primary);
}

.card {
  padding: 5px;
  border: 2px solid;
  border-radius: 20px;

  h2 {
    font-size: 16px;
  }

  &.secondary {
    color: darken($clr-secondary, 20%);
    background-color: transparentize($clr-secondary, 0.8);
    border-color: $clr-secondary;

    ion-fab-button {
      p {
        color: darken($clr-secondary, 30%);
      }
    }
  }

  &.tertiary {
    color: darken($clr-tertiary, 20%);
    background-color: transparentize($clr-tertiary, 0.8);
    border-color: $clr-tertiary;

    ion-fab-button {
      p {
        color: darken($clr-tertiary, 30%);
      }
    }
  }
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  padding: 20px 5px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

