@import "../stylesheet/globals";

.cariros-accent {

  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    span {
      text-transform: lowercase;
      border-bottom: 2px solid $clr-primary;
    }
  }
}