@import "../stylesheet/globals";

.reminder {

  display: flex;
  align-items: center;
  gap: 15px;

  padding: 10px;
  margin: 5px;
  border: 2px solid var(--ion-color-primary);
  border-radius: 30px;

  background-color: transparentize($clr-primary, 0.9);

  h3, p {
    text-align: left;
  }

  img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 1px solid var(--ion-color-secondary);
  }

}