.role {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  //border: 2px solid var(--ion-color-tertiary);
  //border-radius: 20px;
  padding: 5px;

  ul {
    margin: 0;
  }
}